/*Note: remember the more descriptive the variable
names the better, they should describe what they hold.*/

/*importing the font from google*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*define the colors*/
$light-blue: #469ef3;
$dark-blue: #154e9a;

/*define the font*/
$font: "Source Sans Pro", sans-serif;
$font-size: 5em;
